table {
    font-size: 0.9rem;
  }
  
  table img {
    min-width: 50px !important;
    max-width: 50px !important;
    height: 50px;
  }
  
  table input[type="number"] {
    max-width: 50px;
  }
  table tr td {
    vertical-align: middle !important;
  }

  /*----------BUTTONS----------*/
  .btn-template-outlined {
    background: none;
    border: 1px solid #467fbf !important;
    color: #467fbf;
    border-radius: 0 !important;
    text-decoration: none;
 font-weight: bold;
  }
  
  .btn-template-outlined:hover, .btn-template-outlined:focus {
    background: #467fbf;
    color: #fff !important;
  }
  
  .btn-template-outlined-white {
    background: none;
    border: 1px solid #fff !important;
    color: #fff;
    border-radius: 0 !important;
    text-decoration: none;
  }
  
  .btn-template-outlined-white:hover, .btn-template-outlined-white:focus {
    background: #fff;
    color: #467fbf !important;
  }
  
  .btn-template-outlined-black {
    background: none;
    border: 1px solid #333 !important;
    color: #333;
    border-radius: 0 !important;
    text-decoration: none;
  }
  
  .btn-template-outlined-black:hover, .btn-template-outlined-black:focus {
    background: #333 !important;
    color: #fff !important;
  }
  .btn-secondary {
    color: color-yiq(#868e96);
    background-color: #868e96;
    border-color: #868e96;
  }
  
  .btn-secondary:hover {
    color: color-yiq(#727b84);
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .btn-secondary:focus, .btn-secondary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(134, 142, 150, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(134, 142, 150, 0.5);
  }
  
  .btn-secondary.disabled, .btn-secondary:disabled {
    color: color-yiq(#868e96);
    background-color: #868e96;
    border-color: #868e96;
  }
  
  .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
  .show > .btn-secondary.dropdown-toggle {
    color: color-yiq(#6c757d);
    background-color: #6c757d;
    border-color: #666e76;
  }
  
  .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-secondary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(134, 142, 150, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(134, 142, 150, 0.5);
  }

  .box {
    margin: 80px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;
  }
  
  .box a.btn {
    margin-top: 25px;
  }
  
  .box .box-header {
    background: #f7f7f7;
    margin: 20px 0 20px;
    padding: 20px;
    border-top: 1px solid #eee;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  
  .box .box-footer {
    background: #f7f7f7;
    margin-top: 30px;
    padding: 20px;
    border-top: 1px solid #eee;
  }

  .product {
    text-align: center;
    position: relative;
    margin-bottom: 40px;
  }
  
  .product .image {
    overflow: hidden;
    max-height: 190px;
  }
  
  .product .image a {
    margin: 0;
  }
  
  .product .text {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .product .text h3 {
    min-height: 63px;
  }
  
  .product .price {
    font-size: 1.1rem;
  }
  
  .product .price del {
    color: #999;
    display: inline-block;
    margin-right: 5px;
  }
  
  .product img {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .product:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .product:hover .text {
    border-color: #555;
  }
  
  .product a {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #333;
    text-decoration: none !important;
    margin-top: 15px;
  }
  